name: Push to nuget feed on release

on:
  push:
    branches:
      - master
  repository_dispatch:
    types: [regress_update]
  
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup Nuget
        uses: nuget/setup-nuget@v1

      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Download artifact
        #src: https://github.com/marketplace/actions/download-workflow-artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{ secrets.dll_pat }}
          workflow: build.yml
          branch: master
          path: .
          repo: TaleSpire-Modding-Pipelines/AutomationDlls

      - name: build
        run: |
          cd RadialUIPlugin
          dotnet restore RadialUIPlugin.csproj
          dotnet build RadialUIPlugin.csproj --configuration Release

      - name: test
        run: |
          cd RadialUnitTests
          dotnet restore RadialUnitTests.csproj
          dotnet test --configuration Release --no-restore /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
          
      - name: Checkout Codecov
        uses: codecov/codecov-action@v2
        with:
          file: ./RadialUnitTests/coverage.opencover.xml
          flags: unit
          name: RadialUI

      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1
        with:
          age: '0 month'
      
      - name: Upload new artifacts
        uses: actions/upload-artifact@master
        with:
          name: dlls
          path: RadialUIPlugin\bin\Release\RadialUI.dll
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.dll_pat }}
          repository: TaleSpire-Modding-Pipelines/RepoDispatcher
          event-type: ${{ github.repository }}
